$Purple_MG: #9453A6;
$Green_MG: #8CBF3F;
$Yellow_MG: #F2CC0F;
$White_MG: #F2F2F2;
$Black_MG: #0D0D0D;
$primary: hsl(290, 80%, 50%);
$primary-light: linear-gradient(to right, rgb(249, 250, 217), #fcfc92, #aefaa7, rgba(17, 134, 33, 0.6));
// $primary-light2: linear-gradient(to right, #aefaa7, rgba(17, 134, 33, 0.6));


$secondary: hsl(350, 80%, 50%);

$red: hsl(10, 80%, 50%);
$orange: hsl(50, 80%, 50%);


//Fonts
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

$title_font: 'Pattaya';
$title_font2: 'Henny Penny';
$text_font: 'Roboto',
sans-serif;

@mixin mobile($size: 640px) {
    @media screen and (max-width: $size) {
        @content;
    }
}

.accordion {
    width: 80vw;
    margin: 0 auto;

}

.accordion-body {
    font-size: 1.2em;
    text-align: justify;
    font-family: $text_font;
}

.accordion-button {
    background-color: $Yellow_MG;
    font-family: pattaya;
    color: indigo;
    font-size: 0.8em;

    &:not(.collapsed) {
        color: rgb(12, 12, 9);
        background-color: $Green_MG;
        text-shadow: 2px 2px #fff;
    }

}